<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285417917451-ui80ab7nf28n0u9ett1pea0a8sj80ap9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285417917451-ui80ab7nf28n0u9ett1pea0a8sj80ap9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeeo51QsPBKagD_hfCxfbu6oaWA7NjTBM</string>
	<key>GCM_SENDER_ID</key>
	<string>285417917451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbeu.tasklet</string>
	<key>PROJECT_ID</key>
	<string>sbeutasklet</string>
	<key>STORAGE_BUCKET</key>
	<string>sbeutasklet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285417917451:ios:9d08bcd8b934e4ba010b0e</string>
</dict>
</plist>